megaMan\megaMan\megaMan\obj
megaMan\megaMan\megaMan\obj\*
megaMan/megaMan/megaMan/obj
megaMan/megaMan/megaMan/obj/*

# Common files to ignore
*.swp
*.zip
*.suo
*.user
megaMan/megaMan/bin
megaMan/megaManContent/bin
megaMan/megaMan/obj
megaMan/megaManContent/obj
*.cachefile
*.ccgame 
megaMan/megaMan/megaManContent/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
megaMan/megaMan/megaManContent/obj/x86/Debug/ContentPipeline.xml
megaMan/megaMan/megaManContent/obj/x86/Debug/megaManContent.contentproj.FileListAbsolute.txt
megaMan/megaMan/megaManContent/obj/x86/Debug
megaMan/megaMan/megaManContent/obj/x86/Debug/
*.cache
*.xml